.gallery {
  column-count: 5;
  padding: 10px;
}

.imageWrapper {
  break-inside: avoid;
  margin-bottom: 5px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.imageWrapper img {
  width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 1024px) {
  .gallery {
    column-count: 2;
  }
}

/* @media (max-width: 600px) {
  .gallery {
    column-count: 1;
  }
} */
