.grid {
  column-count: 5;
  column-gap: 0;
}
.title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin-top: 4rem;
  padding: 2rem;
}
.item {
  break-inside: avoid;
  margin-bottom: 0;
}

.img {
  width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 600px) {
  .grid {
    column-count: 2;
  }
}
