.grid {
  column-count: 5;
  column-gap: 0;
  padding-top: 2.5rem;
}

.item {
  break-inside: avoid;
  margin-bottom: 0;
}

.img {
  width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 600px) {
  .grid {
    column-count: 2;
  }
}
